body {
  font-family: Arial, sans-serif;
  background-color: #d1cccc;
}

.container {
  width: 750px;
  margin: 50px auto;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #2023e3;
}
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0d6efd;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0b5ed7;
}
